*.db
*.DS_Store
*.e
*.egg-info/
*.eqx
*.hb
*.jou
*.log
.*nfs*
*.npz
*.png
*.pyc
*.vtk
*.vtm
*.vtu
.coverage
book/api/*
book/build
docs/source/modules.rst
docs/source/pancax.*
dead_code/
docs/build
history*.csv
jax_profile/
pinn*.log
sierra_batch_script_*
rocm_venv/
venv/
