name: CI
on:
  pull_request:
    branches: main
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        # - '3.13'
    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: install and test
      run: |
        python -m venv venv
        . venv/bin/activate
        pip install .[cpu,test,viz]
        JAX_ENABLE_X64=true pytest test --cov=pancax --cov-report=xml --cov-report=term
    - name: codecov
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage.xml
        flags: unittests
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
  